<h1 mat-dialog-title> {{ data.title }}</h1>

<div mat-dialog-content>
  <form [formGroup]="frm">
    <mat-form-field>
      <input matInput placeholder="Code" formControlName="code" class="person-input">
      <mat-error *ngIf="frm.controls.code.invalid">{{getCodeErrorMessage()}}</mat-error>
    </mat-form-field>

    <br />

    <mat-form-field>
      <input matInput placeholder="Name" formControlName="name" class="person-input">
      <mat-error *ngIf="frm.controls.name.invalid">{{getNameErrorMessage()}}</mat-error>
    </mat-form-field>

    <br />

    <mat-form-field>
      <input matInput placeholder="Description" formControlName="description" class="person-input">
      <mat-error *ngIf="frm.controls.description.invalid">{{getDescriptionErrorMessage()}}</mat-error>
    </mat-form-field>

    <br />

    <mat-form-field>
      <input matInput placeholder="Reference" formControlName="reference" class="person-input">
      <mat-error *ngIf="frm.controls.reference.invalid">{{getReferenceErrorMessage()}}</mat-error>
    </mat-form-field>

    <br />

    <mat-form-field>
      <input matInput placeholder="Location Storage" formControlName="locationStorage" class="person-input">
      <mat-error *ngIf="frm.controls.locationStorage.invalid">{{getLocationStorageErrorMessage()}}</mat-error>
    </mat-form-field>

    <mat-form-field style="visibility: hidden; height: 0vh !important">
      <input matInput type="text" formControlName='id'>
    </mat-form-field>
  </form>
</div>

<div mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]>Cancel</button>
  <button mat-raised-button color="primary" (click)='save(frm)' class="btnSave" [disabled]="!frm.valid">
    <span>Save</span>
  </button>
</div>
